<div class="parent-div mt-5">
  <div class="child-div">
    <div class="main-div mb-3">
      <p style="color: #4d8de5; font-size: 30px">WELCOME USER!</p>
      <p class="home-text" style="color: white">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam esse
        nisi dolorum quos deleniti dicta aspernatur excepturi, suscipit rerum
        doloremque ratione perspiciatis optio pariatur fugiat adipisci vel
        perferendis unde? Voluptatibus.
      </p>
    </div>
    <div class="text-div mt-2">
      <h5 class="header-text">LOGIN</h5>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="showFormInputs()">
      <div class="mb-3" style="padding-left: 50px; padding-right: 50px">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" formControlName="email"
          placeholder="Enter your email address" />
        <span style="color: red;" *ngIf="email && email.invalid && email.touched">Enter valid email</span>
      </div>

      <div class="mb-3" style="padding-left: 50px; padding-right: 50px">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password"
          placeholder="Enter your password" />
        <span style="color: red;" *ngIf="password && password.invalid && password.touched">Enter valid password</span>
      </div>

      <div class="form-check form-check-inline" style="margin-left: 50px;">
          <label class="form-check-label" for="male">Male</label>
          <input class="form-check-input" type="checkbox" (change)="handleChange($event)" formControlName="gender"
            id="inlineCheckbox1" value="male">
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="female">Female</label>
        <input class="form-check-input" type="checkbox" (change)="handleChangeEvent($event)" formControlName="gender"
          id="inlineCheckbox2" value="female">
      </div>

      <div class="form-check mt-3" style="margin-left: 50px">
        <input class="form-check-input" type="checkbox" formControlName="check" />
        <label class="form-check-label text-dark" for="flexCheckDefault">
          Remember me
        </label>
        <a href="" style="margin-left: 58%; text-decoration: none; color: #5754c1">Forgot Password?</a>
      </div>
      <div class="btn-div mt-3">
        <button [disabled]="!contactForm.valid">LOGIN</button>
      </div>
      <div class="signup_text" style="padding: 20px 10px">
        <p>Don't have an account? <a href="">SIGN UP</a></p>
      </div>
    </form>
  </div>
</div>